 <p *ngFor="let item of Patient">

<p *ngIf = "isFetching">Fetching Patient....</p>
<table *ngIf="!isFetching"  border = "2" width="380" height= "220">
<tbody>
    <div class="banner">
        <b>MRN:&nbsp;&nbsp;</b>{{PatMRN}}
        &nbsp;&nbsp;
        <b> Name:&nbsp;&nbsp;</b>{{personList}}
      </div><br>
      <div class="banner">
      <b> Gender:&nbsp;&nbsp;</b>{{PatGender}}
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <b> Date of Birth:&nbsp;&nbsp;</b>{{DateOfBirth}}
    </div>
  <tr> <td><b>Address:&nbsp;&nbsp;</b>{{PatAddress}}</td>
  <tr> <td><b>Email:&nbsp;&nbsp;</b>{{PatTelecom}}</td>
</tr>
</tbody>
</table>
<table *ngIf = "!isFetching"  border = "2" height= "120">
  <thead>
    <tr>
      <th>Vital Signs Observation</th>
    </tr>
    <tbody>
      <tr>{{ObservationVal}}</tr>
      <td>{{ObservationCode}}</td>
      
    </tbody>
    </table>




    <table *ngIf = "!isFetching"  border = "2" height= "120">
      <thead>
        <tr>
          <th>Condition Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>{{Condition}}</tr>
     <td>  {{ ConditionVal}}</td> 

      </tbody>
    </table>

